<component name="ArtifactManager">
  <artifact type="war" name="springbootaa:war">
    <output-path>$PROJECT_DIR$/springbootaa/target</output-path>
    <root id="archive" name="springboot-aa.war">
      <element id="artifact" artifact-name="springbootaa:war exploded" />
    </root>
  </artifact>
</component>